@tailwind base;
@tailwind components;
@tailwind utilities;

.mylink{
    display: flex;
    background-color:antiquewhite;
    align-items: center;
    justify-content: center;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  

  
  /* body {
    height: 100%;
  } */
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    margin-bottom: 3vh;
  }

  .special{
    display: block;
  }

  .mypng{
    max-width: 25%;
  }
  .mypng2{
    max-width: 50%;
  }

  .max-w-screen{
    max-width: 4000px;
  }

  .margin-top{
    margin-top: 5vh;
  }
  .padding-top{
    padding-top: 5vh;
  }
  .label-font{
    font-size: 8vh;
  }

  .button{
    font-size: 3vh;
    border-radius: 0.5em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    margin-inline-end: 0.5em;
    margin-bottom: 2vh;
  }
  .text{
    font-size: 3vh;
    margin-inline-end: 0.5em;
  }
  .logo-text{
    font-size: 5vh;
  }
  .margin-top-bottom{
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }

  .image{
    height: 10vh;
  }